<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <style>
      .container{
        padding-top: 100px;

      }

      .btn{
        margin-top: 10px;
        padding: 20px;
      
      
      }
     </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">

    <title>Our Features</title>
  </head>
  <body style=" background-color: aliceblue;">
    <div class="imgg">
      <img src="./static/images/feature/img1.jpeg" class="img-fluid" alt="..." width="100%">
      
    </div>
    
    <div class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded my-5 py-3">
      <center>
        <div>
          <a href="upload.html" class="btn btn-primary py-3" type="button" style="width: 60%;" >Visual Question Answering</a>

        </div>
        <div>
          <a href="Sign_translation.html" class="btn btn-primary py-3" type="button" style="width: 60%;">Text to sign Language</a>

        </div>
        <div>
          <a href="speech_sign.html" class="btn btn-primary py-3" type="button" style="width: 60%;">Speech to Sign Language</a>

        </div>

        <div>
          <a href="OCR.html" class="btn btn-primary py-3" type="button" style="width: 60%;">Image to Speech/ Speech to text </a>

        </div>
        

      </center>
       
        
        
        
        <!-- <button class="btn btn-primary py-3" type="button">Speech to Text </button> -->
      

    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    -->
  </body>
</html>